@model int

@{
	ViewData["Title"] = "Home Page";
	int? userID = ViewData["userID"] as int?;
	var products = ViewData["products"] as List<CloudApplication.Models.ProductModel>;
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This would be the landing page for the KhumaloCraft.</p>
	<p>Jamie Parker - ST10257863.</p>
</div>


@if (userID.HasValue)
{
	<p>User ID: @userID</p>
}
else
{
	<p>User ID: Not Logged In</p>
}

<h2>All Products</h2>
<p>
	<form asp-controller="Home" asp-action="Transaction" method="post">
		<button type="submit" class="btn btn-primary">View all current transactions</button>
	</form>
</p>

<!-- Display messages from TempData -->
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th>Availability</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in products)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Category</td>
				<td>@product.Availability</td>
				<td>
					<form asp-controller="transaction" asp-action="PlaceOrder" method="post">
						<input type="hidden" name="productID" value="@product.ProductID" />
						<input type="hidden" name="quantity" value="1" /> <!-- Default quantity to 1 -->
						<button type="submit" class="btn btn-primary">Place Order</button>
					</form>

				</td>
			</tr>
		}

	</tbody>
</table>