@model int

@{
	ViewData["Title"] = "Home Page";
	int? userID = ViewData["userID"] as int?;
	var products = ViewData["Products"] as List<CloudApplication.Models.ProductModel>;
	string currentSortOrder = ViewData["CurrentSortOrder"] as string;
	string nextSortOrder = ViewData["NextSortOrder"] as string;
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This would be the landing page for the KhumaloCraft.</p>
	<p>Jamie Parker - ST10257863.</p>
</div>

@if (userID.HasValue)
{
	<p>User ID: @userID</p>
}
else
{
	<p>User ID: Not Logged In</p>
}

<h2>All Products</h2>
<!-- Display messages from TempData -->
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<p>
	<form asp-controller="Home" asp-action="Transaction" method="post">
		<button type="submit" class="btn btn-primary">View all Orders</button>
	</form>
</p>

<div class="text-left">
	<form asp-action="Index" method="get">
		<input type="hidden" name="sortOrder" value="@nextSortOrder" />
		<button type="submit" class="btn btn-secondary">
			@if (currentSortOrder == "price_asc")
			{
				<span>Sort by Price: Ascending</span>
			}
			else if (currentSortOrder == "price_desc")
			{
				<span>Sort by Price: Descending</span>
			}
			else
			{
				<span>Sort Order Default</span>
			}
		</button>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th>Availability</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in products)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Category</td>
				<td>@product.Availability</td>
				<td>
					<form asp-action="AddToCart" asp-controller="Cart" method="post">
						<input type="hidden" name="productID" value="@product.ProductID" />
						<input type="number" name="quantity" value="1" min="1" />
						<button type="submit" class="btn btn-primary">Add to Cart</button>
					</form>

				</td>
			</tr>
		}
	</tbody>
</table>
