@model List<CloudApplication.Models.TransactionModel>
@{
	ViewData["Title"] = "Transactions";
	int? userID = ViewData["userID"] as int?;
}

@if (Model != null && Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th colspan="6">Transaction History for User:@userID</th>
			</tr>
			<tr>
				@* <th>Order</th> *@
				@* <th>Transaction ID</th> *@
				@* <th>User ID</th> *@
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Transaction Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var transactionGroup in Model.GroupBy(t => t.TransactionGroupID))
			{
				<tr>
					<td colspan="6" style="background-color: lightgray">
						Order number @transactionGroup.Key - @transactionGroup.First().TransactionDate.ToString("yyyy/MM/dd")
					</td>
				</tr>
				@foreach (var transaction in transactionGroup)
				{
					<tr>
						@* <td></td> <!-- Leave this cell empty for alignment --> *@
						@* <td>@transaction.TransactionID</td> *@
						@* <td>@transaction.UserID</td> *@
						<td>@transaction.ProductID</td>
						<td>@transaction.ProductName</td>
						<td>@transaction.Quantity</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
else
{
	<p>No transactions available.</p>
}
