@model List<CloudApplication.Models.TransactionModel>
@{
	ViewData["Title"] = "Transactions";
	int? userID = ViewData["userID"] as int?;
}

@if (Model != null && Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th colspan="6">Transaction History for User: @userID</th>
			</tr>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Transaction Quantity</th>
				<th>Total Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var transactionGroup in Model.GroupBy(t => t.TransactionGroupID))
			{
				double totalPricePerOrder = 0; // Moved the declaration outside of the loop
				<tr>
					<td colspan="6" style="background-color: lightgray">
						Order number @transactionGroup.Key - @transactionGroup.First().TransactionDate.ToString("yyyy/MM/dd")
					</td>
				</tr>
				@foreach (var transaction in transactionGroup)
				{
					double transactionTotalPrice = (double)transaction.ProductPrice * transaction.Quantity; // Calculate total price for each transaction
					totalPricePerOrder += transactionTotalPrice; // Accumulate total price for the order
					<tr>
						<td>@transaction.ProductID</td>
						<td>@transaction.ProductName</td>
						<td>@transaction.ProductPrice</td>
						<td>@transaction.Quantity</td>
						<td>@Math.Round(transactionTotalPrice, 2)</td> <!-- Display total price for each transaction and round to the second decimal place -->
					</tr>
				}
				<tr>
					<td colspan="4"></td>
					<td colspan="2" style="background-color: lightgray">
						Total Price: R @Math.Round(totalPricePerOrder, 2) <!-- Display total price for the order -->
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th colspan="6">Transaction History for User: @userID</th>
			</tr>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Transaction Quantity</th>
				<th>Total Price</th>
			</tr>

		</thead>
		<td>You have no transactions.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</table>
}